<div class="col-sm-6">
	<div class ="card">	
		<div id = "creditType" class="card-body"> 
			<p>
			  Type of credit card you are using:
			</p>
			<select class="form-control">
				<option hidden >Please select an option</option>
				<option>Chase</option>
				<option>Discovery</option>
				<option>Mastercard</option>
				<option>Visa</option>
			</select>
		</div>
		<div id = "creditType" class="card-body"> 
			<p>
			  Purchases you make the most:
			</p>
			<ol class="list-group">
				<li class="list-group-item">
					<select class="form-control">
						<option hidden >Please select an option</option>
						<option>Business</option>
						<option>Food</option>
						<option>Shopping</option>
						<option>Travel</option>
					
					</select>
				</li>
				<li class="list-group-item">
					<select class="form-control">
						<option hidden >Please select an option</option>
					 	<option>Business</option>
						<option>Food</option>
						<option>Shopping</option>
						<option>Travel</option>
						<option>Food</option>
					</select>
				</li>
				<li class="list-group-item">
					<select class="form-control">
						<option hidden >Please select an option</option>
					  	<option>Business</option>
						<option>Food</option>
						<option>Shopping</option>
						<option>Travel</option>
					
					</select>
				</li>
			</ol>
		</div>
	</div>
</div>