<p>
  main-information works!
</p>


 <mat-form-field class="example-full-width">
    <input matInput placeholder="Full Name" value="Jane Doe">
  </mat-form-field>


<mat-form-field class="container bracket-inputs">
      <input matInput
        type="number"
        placeholder="Age"
        min = "1"
        max = "120"
       [formControl]="rateControl"
       > 

       <mat-error>Please enter a value between 1 and 120</mat-error>
</mat-form-field>


<mat-form-field class = "bracket-inputs container">
  <mat-select  placeholder="Purchasing" (selectionChange) = "changePurchase($event.value)" >
    <mat-option *ngFor="let p of purchases" [value]="p.type">
      {{p.type}}
    </mat-option> 
  </mat-select>
</mat-form-field>

<mat-form-field class = "bracket-inputs container">
  <mat-select  placeholder="Purchasing" (selectionChange) = "changePurchase($event.value)" >
    <mat-option *ngFor="let p of purchases" [value]="p.type">
      {{p.type}}
    </mat-option> 
  </mat-select>
</mat-form-field>


<mat-form-field class = "bracket-inputs container">
  <mat-select  placeholder="Purchasing" (selectionChange) = "changePurchase($event.value)" >
    <mat-option *ngFor="let p of purchases" [value]="p.type">
      {{p.type}}
    </mat-option> 
  </mat-select>
</mat-form-field>



