.bracket-inputs {
  min-width: 215px;
  width: 50%;
  max-width: 1500px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.selector{
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
