
 <mat-form-field class="example-full-width">
    <input matInput placeholder="Full Name" value="Jane Doe">
  </mat-form-field>


<mat-form-field class="container bracket-inputs" (selectionChange) = "changePurchase($event.value)">
      <input matInput
        type="number"
        placeholder="Age"
        min = "1"
        max = "120"
       [formControl]="rateControl"
       > 

       <mat-error>Please enter a value between 1 and 120</mat-error>
</mat-form-field>
<mat-checkbox class = "container bracket-inputs">Are you a student?</mat-checkbox>
<p id = "label">
    Where do you spend most of your money?
</p>
<mat-form-field class = "bracket-inputs container">

  <mat-select  placeholder="Purchasing" (selectionChange) = "changePurchase1($event.value)" >
    <mat-option *ngFor="let p of purchases" [value]="p.type">
      {{p.type}}
    </mat-option> 
  </mat-select>
</mat-form-field>

<mat-form-field class = "bracket-inputs container">
  <mat-select  placeholder="Purchasing" (selectionChange) = "changePurchase2($event.value)" >
    <mat-option *ngFor="let p of purchases" [value]="p.type">
      {{p.type}}
    </mat-option> 
  </mat-select>
</mat-form-field>


<mat-form-field class = "bracket-inputs container">
  <mat-select  placeholder="Purchasing" (selectionChange) = "changePurchase3($event.value)" >
    <mat-option *ngFor="let p of purchases" [value]="p.type">
      {{p.type}}
    </mat-option> 
  </mat-select>
</mat-form-field>

<p id = "label">
    Income Bracket:
</p>
<mat-form-field class = "bracket-inputs container">
  <mat-select  placeholder="Income" (selectionChange) = "changeIncome($event.value)" >
    <mat-option *ngFor="let i of incomes" [value]="i.type">
      {{i.type}}
    </mat-option> 
  </mat-select>
</mat-form-field>
<mat-checkbox class = "container bracket-inputs" (change) = "onChange()" >Have Credit Cards?</mat-checkbox>

<div class="col-sm-12"  *ngIf="changeworthy==true" id = "hasCard">

  <div class ="card"> 
    <p>
      Type of credit card you are using:
    </p>

    <mat-form-field class = "bracket-inputs container">
      <mat-select  placeholder="Credit Card" (selectionChange) = "changePurchase4($event.value)" >
        <mat-option *ngFor="let c of CreditCards" [value]="c.type">
          {{c.type}}
        </mat-option> 
      </mat-select>
    </mat-form-field>
    
    <p class="question"> How many cards do you have?</p>
    <mat-form-field class="container bracket-inputs" (selectionChange) = "changePurchase5($event.value)">
          <input matInput
            type="number"
            placeholder="# of Credit Cards"
            min = "0"
            max = "8"
            [formControl]="rateControl"
           > 
           <mat-error > Please Enter a value between 0 and 8</mat-error>
    </mat-form-field>
    <p class="question"> How many purchases do you make with your credit card in a week?</p>
    <mat-form-field class="container bracket-inputs"(selectionChange) = "changePurchase6($event.value)">
          <input matInput
            type="number"
            placeholder="# of Purchases"
            min = "0"
            max = "1000"
            [formControl]="rateControlSecond"
            
           > 
           <mat-error > Please Enter a value between 0 and 1000</mat-error>
    </mat-form-field>
    
  </div>

</div>
<div id="btn">
  <button mat-raised-button color ="accent" (click)="open()">Submit</button>
</div>




